/*   GENERAL   */


body { font-family: 'Bariol', sans-serif; }
a { outline : none !important; img {outline : none !important;}}
img { max-width: 100%; height: auto !important; }
h1,h2,h3,h4,p, span { font-weight: normal; }

h4 { font-weight: normal; font-size: 30px; color: @gray; @media (min-width: @screen-tablet) { font-size: 28px; }}

.content{ position: relative; background: #fff; }

.color-blue { color: @blue;}
.color-blue-light { color: @blue-light;}
.color-gray { color: @gray;}
.color-gray-light { color: @gray-light;}
.color-gray-dark { color: @gray-dark;}
.color-white { color: @white;}

.bg-blue { background: @blue;}
.bg-blue-light { background: @blue-light;}
.bg-gray { background: @gray;}
.bg-gray-light { background: @gray-light;}
.bg-gray-dark { background: @gray-dark;}
.bg-white { background: @white; }

.t20 { margin-top: 20px; }
.b20 { margin-bottom: 20px; }
.t30 { margin-top: 30px; }
.b30 { margin-bottom: 30px; }
.t40 { margin-top: 40px; }
.b40 { margin-bottom: 40px; }
.t80 { margin-top: 80px; }
.b80 { margin-bottom: 80px; }
.t100 { margin-top: 100px; }
.b100 { margin-bottom: 100px; }

.fadeout {
		position: relative;
}

/*   NAVIGATION   */

.navbar-default {

	.box-shadow(none);
	background-color:rgba(255, 255, 255, 0);
	padding: 20px 0;
	.transition(all 200ms ease-out);

	.navbar-brand {

		padding: 0 0 0 15px;

		img {
			width: 150px;
			.opacity(1);
		}

	}	

	#navbar {

		background-color:rgba(255, 255, 255, 1);
		padding: 0;
		margin: 20px 0 0 0;

		ul {

			padding: 25px 0;

			li {

			font-size: 30px;
			font-weight: normal;
			padding: 20px 0;
			margin: 0 40px; 
			border-bottom: 1px @gray-light solid;

				a {
					padding: 0;
					.opacity(1);
				}

				&.active a {
					.box-shadow(none);
				}
			}		
		}
	}

	@media (min-width: @screen-tablet) {

		-color:rgba(255, 255, 255, 0);
		padding: 50px 0;

		.navbar-brand {

			padding-top: 0;

			img {
				width: 190px;
				.transition(all 200ms ease-out);
				.opacity(1);

				&:hover {
					.opacity(.5);
				}
			}

		}

		#navbar {

			background-color:rgba(255, 255, 255, 0);
			padding: 6px 0 0 0;
			margin: 0;

			ul {

				padding: 0 15px 0 0;

				li {

				font-size: 22px;
				padding: 0 15px;
				margin: 0;
				border: none;
				.transition(all 200ms ease-out);

					a {
						padding: 0;
						.opacity(1);
						.transition(all 200ms ease-out);

						&:hover {
							.opacity(.75);
						}
					}

					&.active a {
						.box-shadow(none);
					}

					div.nav-separator {

						width: 1px;
						height: 26px;
						background: @gray;
						margin: 2px 0;
						padding: 0 0;
					}

					&.nav-social {
						padding: 0 0 0 15px;
					}

					.fa {
						font-size: 20px;
					}	

				}
			}
		}

	}

	@media (min-width: @screen-desktop) {

		#navbar {

			ul {

				li {

				padding: 0 26px;

					&.nav-social {
						padding: 0 0 0 26px;
					}
				}
			}
		}	
	}
}


.navbar-default-small {
	
	background-color:rgba(255, 255, 255, 1) !important;
	padding: 20px 0 !important;

	.navbar-brand {
		padding-top: 0;

	}


	@media (min-width: @screen-tablet) {

		background-color:rgba(255, 255, 255, .95) !important;
		padding: 14px 0 !important;

		.navbar-brand {
			padding-top: 10px ;

			img {
				width: 150px;
			}

		}

		#navbar {

			ul>li {

				font-size: 20px;
				padding: 2px 20px;

				&.nav-social {
					padding: 0 0 0 20px;
				}

				.fa {
					font-size: 18px;
				}
			}
		}
	}
}


/*   Hamburger icon animation   */

.navbar-toggle {

	border: none;
	background: transparent !important;

	.icon-bar {
		position: relative;
		height: 3px;
		background: @black !important;
		transition: all 200ms ease-in-out;

		&:nth-of-type(2) {
			 top: 1px;
		}

		&:nth-of-type(3) {
		  	top: 2px;
		}
	}

	&.active {
		background: transparent !important;

		.icon-bar {

			&:nth-of-type(1) {
				top: 7px;
				transform: rotate(45deg);
			}

			&:nth-of-type(2) {
				background-color: transparent !important;
			}

			&:nth-of-type(3) {
				top: -7px;
				transform: rotate(-45deg);
			}
		}
	}	
}

.collapsed {
	background: transparent !important;
}

/*   COMPONENTS   */


.intro-box {

	margin-top: -60px;
	position: relative;
	zoom: 1;
	text-align: center;
	padding: 120px 30px 80px 30px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

    &:before {
		.vertical-align();
    }



	h3 {
		color: @white;
		font-size: 34px;
		font-weight: normal;
		padding: 0 0 5px 0;
		margin: 0;
	}

	p {
		color: @white;
		font-size: 22px;
		font-weight: normal;
		padding: 0;
		margin: 0;
	}

	@media (min-width: @screen-tablet) {

			padding: 150px 50px 80px 50px;
		    h3 { font-size: 44px; }
			p { font-size: 24px; }
	}

	@media (min-width: @screen-desktop) {

		    padding: 120px 50px 60px 50px;
		    h3 { font-size: 34px; font-weight: 300; }
			p { font-size: 20px; font-weight: 300; }
	}

	@media (min-width: @screen-lg-desktop) {

		    padding: 130px 70px 80px 70px;
		    h3 { font-size: 40px; }
			p { font-size: 24px; }
	}	
}

.intro-cs {

	padding: 130px 50px 120px 50px;

    h1 {
	    color: @white;
	    font-size: 50px;
	    font-weight: bold;
	    padding: 0 0 5px 0;
	    margin: 0;	
    }

    @media (min-width: @screen-tablet) {

    		padding: 150px 100px 140px 100px;
    	    h1 { font-size: 65px; }
    }

    @media (min-width: @screen-desktop) {

    	    padding: 120px 100px 110px 90px;
    	    h1 { font-size: 65px; }
    }

    @media (min-width: @screen-lg-desktop) {

    	    padding: 150px 120px 140px 120px;
    	    h1 { font-size: 75px; }
    }	

}

.btn-group {

	padding: 0;
	margin: 0 0 30px 0;
	.box-shadow(none) !important;
	display: none;

	.btn-default { position: relative; &:hover {margin-top: -5px;}}
	
	@media (min-width: @screen-tablet) {

		display: inline-block;
		margin-top: 60px;
	}

	@media (min-width: @screen-desktop) {

		margin-top: 0;
		.btn-default { padding: 8px 16px; }
	}

	@media (min-width: @screen-lg-desktop) {

		.btn-default { padding: 8px 28px; }
	}	

}

.btn-default {
	font-size: 18px;
	font-weight: normal;
	padding: 8px 28px;
	color: @white !important;
	background: @blue !important;
	border: 1px @white solid !important;
	.border-top-radius(8px);
	.border-bottom-radius(8px);
	cursor: pointer;
	.transition(all 200ms ease-out);
	

	&:hover {
		color: @white;
		background: darken(@blue, 10%) !important;
		border: 1px @white solid;
		
	}

	&:active {
		color: @white !important;
		background: darken(@blue, 10%) !important;
		border: 1px @white solid !important;
		.box-shadow(none) !important;
	}

	&:visited {
		color: @white;
		background: @blue !important;
		border: 1px @white solid;
	}

}

.btn-inactive {
	background: lighten(@blue, 20%) !important;
	cursor: default;

	&:hover {
		background: lighten(@blue, 20%) !important;
		border: 1px @white solid;
		margin-top: 0 !important;
	}

	&:active {
		color: @white !important;
		background: lighten(@blue, 20%) !important;
		border: 1px @white solid !important;
	}

	&:visited {
		color: @white;
		background: lighten(@blue, 20%);
		border: 1px @white solid;
	}

}

.intro-copy {

	padding: 0 15px;
	margin: 60px 0; 

	@media (min-width: @screen-tablet) {

		padding: 60px 15px;
		margin: 0;
	}

	@media (min-width: @screen-desktop) {

		padding: 60px 30px;	
	}

	@media (min-width: @screen-lg-desktop) {

		padding: 60px 30px;	
	}	

}

.bottom-promo {

	padding: 0 30px;
	margin: 40px 0 0 0;

	@media (min-width: @screen-tablet) {

		padding: 0 30px;
	}

	@media (min-width: @screen-desktop) {

		padding: 0 30px;	
	}

	@media (min-width: @screen-lg-desktop) {

		padding: 0 60px;	
	}	

}

.project {

	width: 100%;
    position: relative;
    background: @blue;
    color: @white;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: @screen-tablet) {

		margin-bottom: 30px;
    }	

    &:before{
    	content: "";
    	display: block;
    	padding-top: 100%;
    }

    .project-img {

    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
        position: absolute;
        .opacity(.8);
        .transition(opacity 400ms ease-out);

        img{
        	width: 100%;
        	height: auto;    	
        }
    }

    .project-info {

    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
        position: absolute;
        .opacity(0);
        background: none;
        .transition(opacity 400ms ease-out);

        &:before {
    		.vertical-align();
        }

    }

    &:hover .project-img {

        .opacity(.2);
        cursor: pointer;

    }

    &:hover .project-info {

        .opacity(1);
        cursor: pointer;

    }
}

.project-wide {
	
	@media (min-width: @screen-tablet) {

		height: 220px;
		overflow: hidden;
	}

	@media (min-width: @screen-desktop) {

		height: 293px;
	}

	@media (min-width: @screen-lg-desktop) {

		height: 360px;
	}	

}

hr {

	border: 0;
	width: 30px;
	height: 5px;
	padding: 0;
	
	.border-top-radius(50px);
	.border-bottom-radius(50px);
	
	&.left { margin-left: 0; margin-right: auto; }
	&.center { margin-left: auto; margin-right: auto; }
	&.right { margin-left: auto; margin-right: 0; }

}

/*   SECTIONS   */

section {

	background: no-repeat top center;
	background-size: cover !important;
	padding: 0;
}

section.intro {
	padding: 0;
}

section.top {

	padding: 0;
	width:100%;
	position:fixed;
	top:0;
	text-align: center;
	z-index: -1;

    &:before {
		.vertical-align();
    }

    h1 {

		font-size: 60px;
		font-weight: 300;
		padding: 0;
		margin: 0 0 10px 0;
		span { display: block; }

		&.short {
			font-size: 90px;
			font-weight: normal;
		}
	}

	p {
		display: none;
		font-size: 28px;
		font-weight: normal;
		padding: 0;
		margin: 0;
	}

	@media (min-width: @screen-tablet) {

	    h1 { font-size: 100px; }
		p { font-size: 24px; }
	}

	@media (min-width: @screen-desktop) {

	    h1 { font-size: 60px; span {display: inline; }}
		p { font-size: 24px; display: block !important; }
	}

	@media (min-width: @screen-lg-desktop) {

	    h1 { font-size: 70px; }
		p { font-size: 26px; }
	}	

}

section.featured {

	background: @blue no-repeat bottom center;
	color: @blue-light;

	.featured-header {

		h2 {

			font-size: 34px;
			font-weight: normal;
			padding: 0;
			margin: 60px 0 60px 0;

			@media (min-width: @screen-tablet) {

				font-size: 44px;
				margin: 80px 0 60px 0;
			}

			@media (min-width: @screen-desktop) {

				font-size: 34px;
				margin: 80px 0 60px 0;
			}

			@media (min-width: @screen-lg-desktop) {

				font-size: 40px;
				margin: 100px 0 80px 0;
			}	

		}
	}

	.featured-footer {

		p {

			font-size: 26px;
			font-weight: normal;
			padding: 0;
			margin: 45px 0 60px 0;

			a {

				color: @white;
				font-weight: normal;
				.opacity(1);
			}

			@media (min-width: @screen-tablet) {

				font-size: 26px;
				margin: 30px 0 60px 0;
			}

			@media (min-width: @screen-desktop) {

				font-size: 28px;
				margin: 30px 0 60px 0;
			}

			@media (min-width: @screen-lg-desktop) {

				font-size: 28px;
				margin: 50px 0 80px 0;
			}			

		}

	}

}

section.case-study {

	p {
		font-size: 22px;
		padding-top: 14px;
	}

	.cs-header {

		text-align: left;
		hr { margin-left: 0; margin-right: auto; }


		@media (min-width: @screen-desktop) {

		text-align: right;
		hr { margin-left: auto; margin-right: 0; }
		}

	}	
}

.page-nav {

	background: @white;
	padding: 60px 80px;
	color: @gray;
	position: relative;
	.transition(all 200ms ease-out);

	h3 { margin: 0; color: @gray-dark;	}
	span { font-size: 18px; }

	&:hover {
		background: @blue;
		color: @white;
		margin-top: -5px;
		h3 {color: @white;}
	}

}

footer {

	text-align: center;
	position: relative;
	margin: 250px 0 60px 0;

	p {
		padding: 0;
		margin: 0;
	}
}




