/*   GENERAL   */


body { font-family: 'Bariol', sans-serif; }
img { max-width: 100%; height: auto !important; }
h1,h2,h3,h4,p, span { font-weight: normal; }

.content{ position: relative; background: #fff; }

.color-blue-light { color: @blue-light;}

.bg-blue { background: @blue;}
.bg-blue-light { background: @blue-light;}

.t40 { margin-top: 45px; }
.b40 { margin-bottom: 40px; }

.fadeout {
		position: relative;
}

/*   NAVIGATION   */

.navbar-default {

	.box-shadow(none);
	background-color:rgba(255, 255, 255, 0);
	padding: 50px 0;
	.transition(all 200ms ease-out);

	.navbar-brand {
		padding-top: 0;

		img {
			width: 190px;
			.transition(all 200ms ease-out);
			.opacity(1);

			&:hover {
				.opacity(.5);
			}
		}

	}

	#navbar {

		padding-top: 8px;

		ul>li {

			font-size: 22px;
			font-weight: normal;
			padding: 0 26px;
			.transition(all 200ms ease-out);

			a {
				padding: 0;
				.opacity(1);
				.transition(all 200ms ease-out);

				&:hover {
					.opacity(.75);
				}
			}

			&.active a {
				.box-shadow(none);
			}

			div.nav-separator {

				width: 1px;
				height: 26px;
				background: @gray;
				margin: 2px 0;
				padding: 0 0;
			}

			&.nav-social {
				padding: 0 0 0 26px;
			}

			.fa {
				font-size: 20px;
			}			

		}
	}
}

.navbar-default-small {
	
	background-color:rgba(255, 255, 255, .95) !important;
	padding: 14px 0 !important;

	.navbar-brand {
		padding-top: 10px ;

		img {
			width: 150px;
		}

	}

	#navbar {

		ul>li {

			font-size: 20px;
			padding: 2px 20px;

			&.nav-social {
				padding: 0 0 0 20px;
			}

			.fa {
				font-size: 18px;
			}
		}
	}

}


/*   COMPONENTS   */


.intro-box {

	margin-top: -60px;
	position: relative;
	zoom: 1;
	text-align: center;
	padding: 0 70px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

    &:before {
		.vertical-align();
    }

	@media (min-width: @screen-desktop) {

		height: 540px;

	}

	h3 {
		color: @white;
		font-size: 36px;
		font-weight: 300;
		padding: 0;
		margin: 0;
	}

	p {
		color: @white;
		font-size: 24px;
		font-weight: 300;
		padding: 0;
		margin: 0;
	}
}

.intro-copy {

	padding: 60px 30px;

}

.project {

	width: 100%;
    position: relative;
    background: @blue;
    color: @white;
    text-decoration: none;
    text-align: center;

    &:before{
    	content: "";
    	display: block;
    	padding-top: 100%;
    }

    .project-img {

    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
        position: absolute;
        .opacity(.8);
        .transition(opacity 400ms ease-out);

        img{
        	min-width: 100%;
        	height: auto;
        }
    }

    .project-info {

    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
        position: absolute;
        .opacity(0);
        background: none;
        .transition(opacity 400ms ease-out);

        &:before {
    		.vertical-align();
        }

    }

    &:hover .project-img {

        .opacity(.2);
        cursor: pointer;

    }

    &:hover .project-info {

        .opacity(1);
        cursor: pointer;

    }
}

hr {

	border: 0;
	width: 30px;
	height: 5px;
	padding: 0;
	margin: 0 auto;
	.border-top-radius(50px);
	.border-bottom-radius(50px);

}


/*   SECTIONS   */


section.top {

	background: @white no-repeat top center;
	background-size: cover;
	width:100%;
	position:fixed;
	top:0;
	text-align: center;
	z-index: -1;

    &:before {
		.vertical-align();
    }

    h1 {

		font-size: 70px;
		font-weight: 300;
		padding: 0;
		margin: 0 0 10px 0;
	}

	p {
		font-size: 26px;
		font-weight: normal;
		padding: 0;
		margin: 0;
	}

}

section.intro {

	.row {

		@media (min-width: @screen-desktop) {

			height: 480px;

		}
	}
}

section.featured {

	background: @blue no-repeat bottom center;
	background-size: cover;
	padding: 80px 0 70px 0;
	color: @blue-light;

	.featured-header {

		h2 {

			font-size: 36px;
			font-weight: normal;
			padding: 0;
			margin: 0 0 70px 0;
		}
	}

	.featured-footer {

		p {

			font-size: 28px;
			font-weight: normal;
			padding: 0;
			margin: 80px 0;

			a {

				color: @white;
				font-weight: normal;
				.opacity(1);
			}

		}

	}

}

footer {

	text-align: center;
	margin-top: 250px;
}

