
img {
  max-width: 100%; 
  height: auto !important;
}

body {

	font-family: 'Bariol', sans-serif;
}

.content{

	position: relative;
	background: #fff;
}

section.top {

	background: @white no-repeat top center;
	background-size: cover;
	width:100%;
	position:fixed;
	top:0;
	text-align: center;

    &:before {
		.vertical-align();
    }

}

section.intro {

	.row {

		@media (min-width: @screen-desktop) {

			height: 480px;

		}
	
		.intro-box {

			margin-top: -60px;
			position: relative;
			zoom: 1;
			background: @blue;
			text-align: center;
			padding: 0 70px;

		    &:before {
				.vertical-align();
		    }

			@media (min-width: @screen-desktop) {

				height: 540px;

			}

			h3 {
				color: @white;
				font-size: 36px;
				font-weight: 300;

				span {
					font-weight: normal;
				}
			}

			p {
				color: @white;
				font-size: 24px;
				font-weight: 300;
			}
		}

	}

}


.box {

	width: 100%;
    position: relative;
    background: @blue;
    color: @white;
    text-decoration: none;
    text-align: center;    

    &:before{
    	content: "";
    	display: block;
    	padding-top: 100%;
    }

}

.box1 {

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    position: absolute;
    .opacity(.8);
    .transition(opacity 300ms ease-out);

    img{
    	min-width: 100%;
    	height: auto;
    }
}

.box2 {

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    position: absolute;
    .opacity(0);
    background: none;
    .transition(opacity 300ms ease-out);

    &:before {
		.vertical-align();
    }

}

.box:hover .box1 {

    .opacity(.1);
    cursor: pointer;

}

.box:hover .box2 {

    .opacity(1);
    cursor: pointer;

}



